# Dependências
node_modules/

# Dados locais gerados
src/data/
src/core/data/
data/
qr.png

# Build
*.exe
dist/
build/

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs e temporários
*.log
*.tmp